xhtml {
  /*height: 100%;*/
  width: 100%;
  bottom: 0;
  /*position: absolute;*/
  max-height: 100%;
  padding:0;
  margin:0;

}

.purple {
  color: #613ea3;
}

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:0;
    }

  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  @media only screen and (max-width: 767px) {
  h2 {
    font-size: 18.72px;
    text-align: center;
  }
}

  @media only screen and (max-width: 364px) {
  h2 {
    font-size: 16px;
    text-align: center;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: block;

}

.content_header {
  margin-left: 10px;
  font-family: "Helvetica" ;
  font-size: 48px;
  color: black;
}

.content_wrapper {
/*display: block;*/
max-width: 1000px;

margin-left: auto;
margin-right: auto;
margin-top:10px;

}

@media only screen and (max-width: 500px) {
.content_wrapper {
/*display: block;*/
width:100%;
margin-left: auto;
margin-right: auto;
  }
}

.content_sidebar{
  padding: 10px;
  width:300px;
  height:auto;
  background:white;
  display: block;
  margin: 10px;
}

.content_container {
  max-width: 1000px;
  height: 700px;
  vertical-align: middle;
  padding: 10px;
  margin: 10px;
}

.content_img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 500px) {
  .content_container {
  width:100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  }
}

  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: red;
    box-shadow: 2px 2px 2px grey;
  }
  
  .site-header .navbar-nav .nav-link {
    color: white;

  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #cbd5db;

  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    }

  .nav_logo {
    height: 40px;
    width: auto;
    }


@media only screen and (max-width: 500px) {
  .nav_logo {
  height: 40px;
  display: flex;
  margin-left: 0;
  margin-right: none;
  width: auto;
  }
}

  .mycontainer {
    width: 100%
    height: 100%;
    margin: 100px;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
/*  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }*/
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .post-image {
    height: 300px;
    width: auto;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .post-page-image {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

@media only screen and (max-width: 1199px) {
  .post-page-image {
    height: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .post-page-image {
    height: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .post-page-image {
    height: auto;
    width: 345px;
  }
}

@media only screen and (max-width: 280px) {
  .post-page-image {
    height: auto;
    width: 100%;
  }
}

.mediabody img {
  max-width: 100%;
}



  .postimage {
    height: 400px;
    width: auto;
   
  }

  .img_shadow {
    box-shadow: 2px 2px 2px grey;
  }

  .blog-row { 
    border: 2px solid red;
    border-radius: 5px;
  }

  .blogbox {
    border: 2px solid red;
    width: 400px;
    height: 300px;
  }

  .footer {
    height: auto;
    width: 100%;
    bottom:0;
    position: relative;
    color: #343a40;

  }

  .social_footer {
    height: auto;
    width: 100%;
    background: #343a40;  
  }

  .social_column {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    padding: 5px;
    display:flex;
  }

  .social_row {
    display:flex;
  }

  .social_footer_icon {
    height: 40px;
    padding: 5px;
    width: auto;  
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
    .social_footer img:hover {
      background: white;
  }

  .linebreak {
    width: 99%;
    height: 1px;
    display: flex;
    /*margin-right: auto;
    margin-left: auto;*/
    background: red;
    margin: 5px;
    /*margin-bottom: 10px;*/
    /*margin: 5px;*/
  }

  .content_main_box{
    display: flex;
  }

.header_box{
  display: flex;
  height: 100px;
}

/*V I D E O */

  .video_component {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background:black;
    width: 100%;
    height: 85%;
    top: 0;
    overflow: hidden;
  }

  .vid {
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    /*height: 900px;*/
    /*margin-top: 100px;*/
  }

  .shop_box {
   /* position: relative;*/
    width: 700px;
    height:100px;
    background-color: lightgrey;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -500px;
  }

  .btn2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background:red;
    color: white;
    position: relative;
    top: 25%;
    width: 75%;
    height: 75%;
    border-radius: 5px;
    transition: transform .8s;
    font-size: 36px;
  }

  .shop_box_text {
    font-size: 36px;
  }

  .btn2:hover{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background:white;
    color: red;
    position: relative;
    top: 25%;
    width: 75%;
    height: 75%;
    transform: scale(1.5);
    transition: transform .8s;
    box-shadow: 2px 2px 4px grey;
  }
  @media only screen and (max-width: 600px) {
  .vid {
    height: auto;
    max-width: 100%;
  }
}

    iframe.evolved_video {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }



  .featured_container {
    background: white; 
    margin-right: auto;
    margin-left: auto;
  }

  .banner {
    height: auto;
    width: 100%;
    background: #dc3545;/*Red*/
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;

  }

  .banner_text {
    background: #dc3545;/*Red*/
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .banner_logo {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .subscribe_container {
    /*padding-top: 25px;*/
    display: block;
    background: #343a40;
        padding-bottom: 20px;
    padding-top: 20px;
  }
  .subscribe_container p {
    padding: 25px;
    margin-bottom: -5px;
    text-align: center;
    color: white;
  }

  .subscribe_input {
    width: 200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }

    .subscribe_form {
    display: block;
    width: 304px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

    .subscribe_form_top_nav {
    margin-top: 5px;
    display: block;
    width: 304px;
    position:absolute;
    margin-left: 80%;
    margin-bottom: 10px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

  .btn {
    background: #dc3545;/*Red*/
    color: white;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }

    .btn_top_nav {
    background: #115986;
    color: white;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }

  .btn:hover {
    background: white;
    color: red;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }

.video{
  width:400px;
}

.footer_menu {
  color: white;

}

.footer_menu ul {
  list-style-type: none;
  display: block;
  text-align: center;
}
.footer_menu li {
  display: inline;
  padding: 10px;
}

.footer_menu a:hover {
  color: #cbd5db;
}

.footer_menu a {
  color: white;
}



/*.topnav {
  overflow: hidden;
  background-color: red;
  position: fixed;
  width: 100%;

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: red
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;

  }
}

*/


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  /*top: 0;*/
  left: 0;
  background-color: red;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #818181;
}

.sidebar .closebtn {
  position: absolute;
  /*top: 0;*/
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: red;
  color: white;
  padding: 10px 15px;
  border: none;
  
}

.navtext {
  color: #fafafa;
  padding-right: 125px;
  /*padding-left:-100px;
*/  /*margin-right: auto;*/
  font-size: 24px;
  margin:auto;
  display: block;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  display: inline-block;
 /* margin-bottom: 16px;*/
  position: fixed;
  display: flex;
  /*box-shadow: 2px 2px 2px grey;*/
}

.bar {
/*  font-size: 20px;*/
  cursor: pointer;
  background-color: red;
  color: white;
  padding-top: 5px;
  height: 50px;
  border: none;
  width: 100%;
  position: fixed;
  display:flex;
  margin-left: 48px;
  /*box-shadow: 2px 2px 2px grey;*/
}