{% extends 'blog/base.html' %}
{% block content %}
<div class="container" style="margin-top: 75px">
	<div class="mediabody">
	<h1 class="article-title">🧬 About Evolved 🧬</h1>
	<p>If you’ve ever been in the situation of whether or not you should get into research chemistry, welcome to the club! That’s in essence what Evolved is all about. They are founded in the simple principle that the more concrete data you have access to, with streamline insight, the less likely your research will become a negative experience for your rat.</p>

	<p>When our founder first started his own personally journey into research chems, he was overwhelmed with the enormous amount of info that was out there. And the huge lack of implementation tactic. This happened majorly back in the early 2000’s, when a surge of steroid use, created the massive demand for “underground” bodybuilding forums. Where basically average to advances users exchanged experiences, doses and other aspects of a steroid cycle.</p>

	<p>What this did was promote a nationwide “gyno” epidemic due to the fact that so many people were “over dosing” or “abusing” steroids without even knowing it. Before this happens in the research chemistry and peptide world, Evolved Science & Research plans to tackle the information cluster f**k to deliver to our researchers a clear, effective and safer path when thinking about that day 1 question. “Should I invest in research chem?”</p>

	<p>Thank you for taking the time to read, research and EVOLVE. We look forward to building a strong community of trust and value with you all.</p>

	<p>– Evolve Science & Research</p>
		<img class="post-page-image" src="/media/site_photos/Evoloved_Logo.jpeg" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 50px;">

	<p>Read enough and ready to start your research right now? Grab your first bottle of research chemistry now from our trusted companies…<p>

	<button>SWOLE AF (BOGO: Buy 1 Get 1 FREE)</button>
	<button>RATS ARMY (Instantly receive 15% OFF)</button>

	<p>By purchasing SARMs, you agree that you are purchasing Research Chemicals.</p>

	<p><b>DESPITE THE AWESOME AND CREATIVE NAMES THEY USE FOR THEIR PRODUCTS IT DOESN’T CHANGE THE FACT THAT THEY ARE RESEARCH CHEMICALS UNLESS LABELED OTHERWISE.</b></p>

	<p>The products are furnished for LABORATORY RESEARCH USE ONLY. The product should only be handled by qualified, and licensed professionals. The product may not be used as a drug, agricultural or pesticidal product, food additive or household chemical – and may not be misbranded as such. All information on this facebook page is available for educational purposes only. Bodily introduction of any kind into humans and/or animals is strictly forbidden by law.<p>

	<p>*SARMs ARE NOT DIETARY SUPPLEMENTS.<p>

	<p>*Research chemicals are chemical substances used by scientists for medical and scientific research purposes. One characteristic of a research chemical is that it is for laboratory research use only; a research chemical is not intended for human or veterinary use. This distinction is required on the labels of research chemicals, and is what exempts them from regulation under parts 100-740 in Title 21 of the Code of Federal Regulations (21CFR).<p>
		</div>
</div>
{% endblock content %}