{% extends 'blog/base.html' %}
{% block content %}

<div class="container" style="margin-top: 75px">
    <h1>Affiliate Disclosure</h1>
<p><b>In compliance with the FTC guidelines, please assume the following about all links, posts, photos and other material on this website:</b></p>

<p>Any/all of the links on this website are affiliate links of which evolvedsciencenews.Wordpress.com receives a small commission from sales of certain items, but the price is either the same or discounted for you.</p>

<h4>What is an Affiliate Link?</h4>

<p>Many (but not all) of the links on evolvedsciencenews.Wordpress.com are affiliate links. This means that a special tracking code is used and that we may make a small commission on the sale of an item if you purchase through one of these links. The price of the item is either the same or discounted for you whether it is an affiliate link or not, and using affiliate links helps us to maintain this website and regularly update our content.</p>

<p>In some cases, I may also use a link and provide a discount code for an item. In these cases, I may still earn an affiliate commission and the price may actually be LESS for you by using this link or tracking code.</p>

<p>For simplicity, assume that any link on evolvedsciencenews.Wordpress.com is an affiliate link and that we may/will make a commission if you purchase through these links (though the price remains the same for you).</p>

<p>If you are going to purchase a product and would like to help support evolvedsciencenews.Wordpress.com, links to many of the products we recommend can be found on various blog posts.</p>
</div>
{% endblock content %}
