
{% extends 'blog/base.html' %}
{% block content %}
<div class="container" style="margin-top: 75px">
<h1>Medical Disclaimer</h1>
	<p>Evolved Science & Research is intended to be used for educational and information purposes only. Sarmguide.com and its Editors do not advocate nutritional supplementation over proper medical advice or treatment and this sentiment will never be expressed through pages hosted under Evolved Science & Research.</p>

	<p>SARMs and most other similar research chemicals that are discussed on sarmguide.com aren’t approved for human usage. Always talk to your doctor for medical advice. Articles on this website are only meant for education and information.</p>

	<p>Evolved Science & Research does not assume liability for any actions undertaken after visiting these pages or affiliate websites, and does not assume liability if one misuses supplements. Evolved Science & Research and its Editors do not ensure that unforeseen side effects will not occur even at the proper dosages, and thereby does not assume liability for any side effects from supplements or practices hosted under the domain of evolvedsciencenews.Wordpress.com</p>
</div>
{% endblock content %}